.detail_item_container{
    display: flex;
    flex-direction: column;
    width:20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:1.25rem;
}

.detail_item_container header{
    margin:0 auto;
}

.detail_item_container header img{
    width:276px;
    height:160px;
}

.detail_item_container div span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail_item_container div h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail_item_container div a{
    
}